html {
    background-color: #293544;
    color: #EAEAEA;
}

.main-font {
    font-family: "Fraunces";
}

.sec-font {
    font-family: "DM Sans";
}

h1 {
    font-family: "DM Sans";
    font-weight: 600;
    font-size: 42px;
}

h2 {
    font-family: 'Fraunces';
    font-weight: 400;
    font-size: 32px;
}

h3 {
    font-weight: 400;
    font-family: "DM Sans";
    font-size: 24px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}



#name-header {
    /* header */
    margin: 24px;
    position: absolute;
    
    background-color: #292222
}

#work-experience {
    position: absolute;
    margin: 24px;
    padding-top: 6em;
}

.position-name{
    font-family: "Fraunces";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    left: 56px;
}




/* mobile styles */
@media only screen and (min-width: 0) and (max-width: 40em) {
    header {
        padding-bottom: 0.25em;
    }

    nav ul {
        padding-left: 1em;
    }

    header h1 {
        padding-top: 0.5em;
    }

}

/* desktop styles */
@media only screen and (min-width: 40.001em) {
    button {
        display: none;
        visibility: hidden;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    main section {
        flex-basis: 70%;
        padding-right: 0.5em;
    }

    main aside {
        flex-basis: 30%;
        padding-left: 0.5em;
    }
}