.info {
  font-family: "DM Sans";
}

.overview h1 {
  margin-top: 4em;
}

.info {
  margin-bottom: 4em;
}

.info li {
  margin-bottom: 0.5em;
}

#process#final {
  width: 100%;
  min-height: 100vh;
}

#process p {
  max-width: 40em;
}

#images {
  position: relative;
  max-width: 100%;
  margin-bottom: 20em;
  height: 100vh;
}

#img1 {
  position: absolute;
  border-radius: 50%;
  width: 25em;
  height: 25em;
  overflow: hidden;
  right: 0em;
  top: 0em;
}

#img2 {
  position: absolute;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  overflow: hidden;
  left: 0em;
  top: 15em;
}

#img3 {
  position: absolute;
  border-radius: 10em;
  width: 15em;
  height: 15em;
  overflow: hidden;
  right: 0em;
  top: 25em;
}

#video-container {
  position: absolute;
  left: 0em;
  top: 35em;
  overflow: hidden;
}

#img-video {
  width: 20em;
  height: 20em;
  border: 0.45em solid #0c2f2b;
  border-radius: 10em;
  overflow: hidden;
}

#video-container2 {
  position: absolute;
  right: 0em;
  top: 0em;
  overflow: hidden;
}

#img-video2 {
  border-radius: 50%;
  width: 25em;
  height: 25em;
  border: 0.45em solid #0c2f2b;
  border-radius: 20em;
  overflow: hidden;
}

#img4 {
  position: absolute;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  overflow: hidden;
  left: 5em;
  top: 20em;
}

#img5 {
  position: absolute;
  border-radius: 10em;
  width: 15em;
  height: 15em;
  overflow: hidden;
  right: 6em;
  top: 30em;
}

footer {
  /* margin-top: auto; */
  /* position: relative; */
}

[id^="img"] {
  transition: transform 0.3s ease-in-out;
}

[id^="img"]:hover {
  animation: bounce-up 1.2s;
  animation-fill-mode: forwards;
}

[id^="img"]:not(:hover) {
  animation: bounce-down 1.2s;
  animation-fill-mode: forwards;
}

@keyframes bounce-up {
  0% {
    transform: scale(1);
    /* Initial size */
  }

  100% {
    transform: scale(1.5);
    /* Return to the original size */
  }
}

@keyframes bounce-down {
  0% {
    transform: scale(1.5);
    /* Initial size */
  }

  100% {
    transform: scale(1);
    /* Return to the original size */
  }
}

@media only screen and (min-width: 0) and (max-width: 50em) {
  main {
    padding-left: 2em;
    padding-right: 2em;
  }

  #images {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20em;
    height: 100vh;
  }

  [id^="img"] {
    position: static !important;
    right: auto;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
  }

  [id^="video"] {
    position: static !important;
    right: auto;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 50.001em) and (max-width: 70em) {
  main {
    padding-left: 6em;
    padding-right: 6em;
  }
}

@media only screen and (min-width: 70.001em) {
  main {
    padding-left: 12em;
    padding-right: 12em;
  }
}
